In [22]:
import pandas as ps
import sklearn as skl
import numpy as np
data_x = ps.read_csv("bank-additional.csv")
data_x['y_class'] = data_x['y'].apply(lambda x:0 if x == 'no' else 1)
data_x.drop(['y'], axis = 1, inplace = True)
data_x = data_x.replace(to_replace = 'unknown', value = 'NaN')

print(data_x)

      age            job   marital            education default housing loan  \
0      30    blue-collar   married             basic.9y      no     yes   no
1      39       services    single          high.school      no      no   no
2      25       services   married          high.school      no     yes   no
3      38       services   married             basic.9y      no     NaN  NaN
4      47         admin.   married    university.degree      no     yes   no
5      32       services    single    university.degree      no      no   no
6      32         admin.    single    university.degree      no     yes   no
7      41   entrepreneur   married    university.degree     NaN     yes   no
8      31       services  divorced  professional.course      no      no   no
9      35    blue-collar   married             basic.9y     NaN      no   no
10     25       services    single             basic.6y     NaN     yes   no
11     36  self-employed    single             basic.4y      no      no   no
12     36         admin.   married          high.school      no      no   no
13     47    blue-collar   married             basic.4y      no     yes   no
14     29         admin.    single          high.school      no      no   no
15     27       services    single    university.degree      no      no   no
16     44         admin.  divorced    university.degree      no      no   no
17     46         admin.  divorced    university.degree      no     yes   no
18     45   entrepreneur   married    university.degree     NaN     yes  yes
19     50    blue-collar   married             basic.4y      no      no  yes
20     55       services   married             basic.6y     NaN     yes   no
21     39     technician  divorced          high.school      no      no   no
22     29     technician    single    university.degree      no     yes  yes
23     40     management   married          high.school      no      no  yes
24     44     technician   married  professional.course     NaN     yes   no
25     38     technician   married  professional.course      no     yes   no
26     36     technician  divorced  professional.course      no      no   no
27     28    blue-collar   married             basic.6y     NaN      no   no
28     47         admin.    single                  NaN     NaN      no   no
29     34         admin.   married    university.degree      no      no   no
...   ...            ...       ...                  ...     ...     ...  ...
4089   25         admin.    single    university.degree      no     yes  yes
4090   43    blue-collar   married             basic.4y     NaN     yes  yes
4091   38     management   married          high.school     NaN      no   no
4092   30    blue-collar    single          high.school      no      no   no
4093   56        retired   married             basic.4y     NaN      no   no
4094   62    blue-collar   married             basic.4y      no     yes   no
4095   36         admin.    single    university.degree      no      no  yes
4096   33       services   married          high.school      no      no   no
4097   41    blue-collar  divorced             basic.9y      no      no   no
4098   34      housemaid    single    university.degree      no     yes   no
4099   58         admin.  divorced          high.school      no      no   no
4100   41         admin.  divorced          high.school      no      no   no
4101   35   entrepreneur    single    university.degree      no     yes   no
4102   31    blue-collar    single             basic.9y     NaN      no  yes
4103   43       services   married          high.school      no      no   no
4104   42     technician  divorced  professional.course      no     yes   no
4105   47      housemaid   married             basic.4y     NaN     yes   no
4106   45   entrepreneur  divorced             basic.9y      no     yes   no
4107   36         admin.   married    university.degree     NaN     yes   no
4108   32         admin.   married    university.degree      no     yes   no
4109   63        retired   married          high.school      no      no   no
4110   53      housemaid  divorced             basic.6y     NaN     NaN  NaN
4111   30     technician   married    university.degree      no      no  yes
4112   31     technician    single  professional.course      no     yes   no
4113   31         admin.    single    university.degree      no     yes   no
4114   30         admin.   married             basic.6y      no     yes  yes
4115   39         admin.   married          high.school      no     yes   no
4116   27        student    single          high.school      no      no   no
4117   58         admin.   married          high.school      no      no   no
4118   34     management    single          high.school      no     yes   no

        contact month day_of_week  campaign  pdays  previous     poutcome  \
0      cellular   may         fri         2    999         0  nonexistent
1     telephone   may         fri         4    999         0  nonexistent
2     telephone   jun         wed         1    999         0  nonexistent
3     telephone   jun         fri         3    999         0  nonexistent
4      cellular   nov         mon         1    999         0  nonexistent
5      cellular   sep         thu         3    999         2      failure
6      cellular   sep         mon         4    999         0  nonexistent
7      cellular   nov         mon         2    999         0  nonexistent
8      cellular   nov         tue         1    999         1      failure
9     telephone   may         thu         1    999         0  nonexistent
10     cellular   jul         thu         1    999         0  nonexistent
11     cellular   jul         thu         1    999         0  nonexistent
12    telephone   may         wed         2    999         0  nonexistent
13    telephone   jun         thu         2    999         0  nonexistent
14     cellular   may         fri         2    999         0  nonexistent
15     cellular   jul         wed         2    999         0  nonexistent
16     cellular   jul         wed         6    999         0  nonexistent
17    telephone   jul         mon         4    999         0  nonexistent
18     cellular   aug         mon         2    999         0  nonexistent
19     cellular   jul         tue         1    999         0  nonexistent
20     cellular   jul         tue         6    999         0  nonexistent
21     cellular   mar         mon         1     12         2      success
22     cellular   aug         wed         3    999         0  nonexistent
23     cellular   aug         wed         1    999         0  nonexistent
24    telephone   may         fri         7    999         0  nonexistent
25     cellular   aug         mon         1    999         0  nonexistent
26    telephone   may         wed         1    999         0  nonexistent
27     cellular   may         mon         2    999         1      failure
28    telephone   may         thu         1    999         0  nonexistent
29     cellular   aug         tue         1    999         0  nonexistent
...         ...   ...         ...       ...    ...       ...          ...
4089   cellular   oct         fri         1    999         1      failure
4090  telephone   may         tue         2    999         0  nonexistent
4091  telephone   may         thu         2    999         0  nonexistent
4092  telephone   jul         wed         1    999         0  nonexistent
4093   cellular   jul         tue         3    999         0  nonexistent
4094   cellular   nov         mon         1      6         1      success
4095   cellular   aug         fri         2    999         0  nonexistent
4096  telephone   may         mon         2    999         0  nonexistent
4097   cellular   aug         tue         1    999         0  nonexistent
4098   cellular   aug         thu         3    999         0  nonexistent
4099   cellular   aug         tue         1    999         0  nonexistent
4100   cellular   apr         fri         1    999         0  nonexistent
4101   cellular   jul         mon         5    999         0  nonexistent
4102  telephone   jun         fri         2    999         0  nonexistent
4103  telephone   may         mon         1    999         0  nonexistent
4104   cellular   aug         mon         1    999         0  nonexistent
4105  telephone   jul         tue         2    999         0  nonexistent
4106   cellular   may         tue         3    999         0  nonexistent
4107   cellular   aug         wed        11    999         0  nonexistent
4108  telephone   may         thu         5    999         0  nonexistent
4109   cellular   oct         wed         1    999         0  nonexistent
4110  telephone   may         fri         2    999         0  nonexistent
4111   cellular   jun         fri         1    999         1      failure
4112   cellular   nov         thu         1    999         0  nonexistent
4113   cellular   nov         thu         1    999         0  nonexistent
4114   cellular   jul         thu         1    999         0  nonexistent
4115  telephone   jul         fri         1    999         0  nonexistent
4116   cellular   may         mon         2    999         1      failure
4117   cellular   aug         fri         1    999         0  nonexistent
4118   cellular   nov         wed         1    999         0  nonexistent

      emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
0             -1.8          92.893          -46.2      1.313       5099.1
1              1.1          93.994          -36.4      4.855       5191.0
2              1.4          94.465          -41.8      4.962       5228.1
3              1.4          94.465          -41.8      4.959       5228.1
4             -0.1          93.200          -42.0      4.191       5195.8
5             -1.1          94.199          -37.5      0.884       4963.6
6             -1.1          94.199          -37.5      0.879       4963.6
7             -0.1          93.200          -42.0      4.191       5195.8
8             -0.1          93.200          -42.0      4.153       5195.8
9              1.1          93.994          -36.4      4.855       5191.0
10             1.4          93.918          -42.7      4.958       5228.1
11             1.4          93.918          -42.7      4.968       5228.1
12             1.1          93.994          -36.4      4.859       5191.0
13             1.4          94.465          -41.8      4.958       5228.1
14            -1.8          92.893          -46.2      1.313       5099.1
15             1.4          93.918          -42.7      4.963       5228.1
16             1.4          93.918          -42.7      4.957       5228.1
17             1.4          93.918          -42.7      4.962       5228.1
18             1.4          93.444          -36.1      4.965       5228.1
19             1.4          93.918          -42.7      4.961       5228.1
20             1.4          93.918          -42.7      4.962       5228.1
21            -1.8          93.369          -34.8      0.639       5008.7
22             1.4          93.444          -36.1      4.967       5228.1
23             1.4          93.444          -36.1      4.965       5228.1
24             1.1          93.994          -36.4      4.864       5191.0
25             1.4          93.444          -36.1      4.965       5228.1
26             1.1          93.994          -36.4      4.856       5191.0
27            -1.8          92.893          -46.2      1.299       5099.1
28             1.1          93.994          -36.4      4.860       5191.0
29             1.4          93.444          -36.1      4.963       5228.1
...            ...             ...            ...        ...          ...
4089          -3.4          92.431          -26.9      0.739       5017.5
4090           1.1          93.994          -36.4      4.857       5191.0
4091           1.1          93.994          -36.4      4.860       5191.0
4092           1.4          93.918          -42.7      4.956       5228.1
4093           1.4          93.918          -42.7      4.961       5228.1
4094          -3.4          92.649          -30.1      0.719       5017.5
4095           1.4          93.444          -36.1      4.963       5228.1
4096           1.1          93.994          -36.4      4.857       5191.0
4097           1.4          93.444          -36.1      4.963       5228.1
4098           1.4          93.444          -36.1      4.963       5228.1
4099           1.4          93.444          -36.1      4.963       5228.1
4100          -1.8          93.075          -47.1      1.405       5099.1
4101           1.4          93.918          -42.7      4.960       5228.1
4102           1.4          94.465          -41.8      4.959       5228.1
4103           1.1          93.994          -36.4      4.857       5191.0
4104           1.4          93.444          -36.1      4.970       5228.1
4105           1.4          93.918          -42.7      4.961       5228.1
4106          -1.8          92.893          -46.2      1.344       5099.1
4107           1.4          93.444          -36.1      4.964       5228.1
4108          -1.8          92.893          -46.2      1.266       5099.1
4109          -3.4          92.431          -26.9      0.740       5017.5
4110           1.1          93.994          -36.4      4.855       5191.0
4111          -1.7          94.055          -39.8      0.748       4991.6
4112          -0.1          93.200          -42.0      4.076       5195.8
4113          -0.1          93.200          -42.0      4.076       5195.8
4114           1.4          93.918          -42.7      4.958       5228.1
4115           1.4          93.918          -42.7      4.959       5228.1
4116          -1.8          92.893          -46.2      1.354       5099.1
4117           1.4          93.444          -36.1      4.966       5228.1
4118          -0.1          93.200          -42.0      4.120       5195.8

      y_class
0           0
1           0
2           0
3           0
4           0
5           0
6           0
7           0
8           0
9           0
10          0
11          0
12          0
13          0
14          0
15          0
16          0
17          0
18          0
19          1
20          0
21          1
22          0
23          0
24          0
25          1
26          0
27          0
28          0
29          0
...       ...
4089        1
4090        0
4091        0
4092        0
4093        0
4094        0
4095        0
4096        0
4097        0
4098        0
4099        0
4100        0
4101        0
4102        0
4103        0
4104        0
4105        0
4106        0
4107        0
4108        0
4109        0
4110        0
4111        0
4112        0
4113        0
4114        0
4115        0
4116        0
4117        0
4118        0

[4119 rows x 20 columns]